@charset "utf-8";

.bondTitle{
    font-size: 14px;
    color: #999;
    }   

.imgUp{
    margin-bottom: 20px;
}
.ssi-uploader{
    margin:10px 0;
}
.ssi-buttonWrapper .selectBut{
    position: absolute;
    top: 115px;
    left: 43%;
}

.ssi-buttonWrapper  .select-button{
    background: url(../images/select.png) #f9f9f9 no-repeat center;
    width: 100px;
    height: 100px;
    border: 0px;
}

td.contTd{
    height: 30px;
}

.bondRight{
    border: 1px solid #e5e5e5;
    margin:10px 0px;
}
.bondRight .searchtitle{
    display: block;
    height: 40px;
    background: #f7f7f7;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}
.bondRight .searchtitle .stitle{
    float: left;
    height: 40px;
}
.bondRight .searchtitle .stitle a{
    display:block;
    margin-left: 15px;
    border:1px solid #e5e5e5;
    width: 80px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    color: #dbdbdb;
    position: relative;
    top: 11px;
    border-bottom: 0px;
}
.bondRight .searchtitle .stitle a.cur{
    background:#fff;
    color:#000;
}
.searchtext{
    padding-left: 10px;
}
.enterprise,
.personal{
    padding:0 10px;
}
.personal{
    display: none;
}


.bondRight .search .text_cl{
    width: 96%;
    border: 1px solid #e7e7e7;
    padding: 5px 2%;
    margin: 5px 0;
    height: 25px;
}
.bondRight .bank-but{
    margin:10px 0px;
}
.bondRight .bank-but .bankselectBtn{
    width:100px;
    height: 30px;
    border:0px;
    background: #32b16c;
    color:#fff;
    border-radius: 2px;
    cursor: pointer;
}
.bondRight .resultTitle{
    color:#d6d6d6;
    position: relative;
    display: flex;
    align-items: center;
}
.bondRight .resultTitle:before{
    content: '';
    display: block;
    width: 11px;
    border-top: 1px solid #d6d6d6;
    height: 13px;
    position: absolute;
    top: 10px;
    left: -11px;
}
.bondRight .resultTitle .right_line{
    flex: 1;
    height: 1px;
    background: #d6d6d6;
}
.select-result .no_info{
    width: 100%;
    height: 240px;
    background: url("../images/authen_no.png") center 50px  no-repeat;
    text-align: center;
}
.select-result .no_info .no_info_p{
    color: #fd8787;
    position: relative;
    top: 130px;
}
.select_info .bankInfo{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}
.select_info .bankInfo span{
    width: 100%;
}
.select_info .bankInfo span.infoName{
    width: 80px;
    color: #999999;
}
.select_info .bankInfo span .info_input{
    width: 95%;
    border: 1px solid #e7e7e7;
    padding: 5px 2%;
    height: 25px;
}
.select_info .bankInfo span.infoTip{
    color: #f4626c;
}
.select_info .upbtn{
    padding-left: 69px;
}
.select_info .upbtn .enupload-btn,
.select_info .upbtn .perupload-btn{
    border:0px;
    background: #32b16c;
    width:100px;
    height: 30px;
    color: #fff;
}
.select_info .upbtn .upload-btn span{
    text-align: center;
}
/*.select_info .bankInfo .systemtip{
    color: #d6d6d6;
    padding-left: 76px;
}*/
.select_info .bankNo{
    position: relative;
    top: -5px;
    left: 70px;
    color: #f4626c;
}

/*遮罩层*/
.mark{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.32);
    opacity: 0.32;
    z-index: 400;
}
.bidbond_result{
    position: relative;
    width: 1190px;
    margin: 0 auto;
    display: none;

}
.bidbond_result .result{
    position: fixed;
    z-index: 401;
    top: 150px;
    width: 497px;
    margin-left: 346px;
    background: #fff;
}
.bidbond_result .result .result_title{
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background: #f3f3f3;
    position: relative;
    color: #ccc;
    font-size: 14px;
}
.bidbond_result .result .result_title i.close
{
    display: block;
    width: 14px;
    height: 14px;
    background: url(../images/closeIcon.png) no-repeat;
    position: absolute;
    right: 10px;
    top: 8px;
}
.result .result_cont{
    text-align: center;
    margin-bottom: 60px;
}
.result .result_cont .result_img{
    margin:30px 0 20px;
}
.result .result_cont .result_tip{
    font-size: 16px;
}
.result .result_cont .success_tip{
    color: #ccc;
}
.result .result_cont .fail_tip{
    color: #c53026;
}

#bandatmspan,#bandlognospan{
    color:#f4626c;
    padding-left: 80px;
}


.preResult-list .preResult{
    border:1px solid #f9f9f9;
    position: relative;
    background: #f9f9f9;
    padding:10px 0px 10px 40px;
    margin-bottom: 10px;
}
.preResult-list .preResult .i_radio{
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
}
.preResult-list .preResult .i_radio.cur{
    border:1px solid #32b16c;
}
.preResult-list .preResult .i_radio.cur i.cur_i{
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #32b16c;

}
.preResult-list .preResult .preType{
    position:absolute;
    top:0px;
    right: 0px;
    display: block;
    color: #fff;
}
.preResult-list .preResult .preType span{
    display: block;
    width: 50px;
    text-align: center;
    height: 20px;
    line-height: 20px;
}
.preResult-list .preResult .preType span.preType_no{
    background: #cccccc;
}
.preResult-list .preResult .preType span.preType_yes{
    background: #32b16c;
}
.preResult-list .preResult .preText{
    padding-bottom: 5px;
    color:#cccccc;
}
.preResult-list .preResult .preText .preBankNull{
    color: #f4626c;
}
.preResult-list .preResult .preText .preName,
.preResult-list .preResult .preText .preMobile{
    float: left;
    width: 50%;
}
.preResult-list .preResult .preText .preName .preName-text{
    color: #32b16c;
}
.clear:after{
    content: "";
    display: block;
    clear: both;
}